@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
     background-color: black;
	 color: white;
}
.container{
    max-width: 1400px;
    padding: 20px 0;
    margin: 0 auto;
}
header{
    background-image: url("../assets/images/bg.png");
    background-position: center 0;
    background-repeat: no-repeat;
	height: 90px;
}
.header__logo:hover{
	transition-duration: 0.5s;
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.header-wrapper{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    display: flex;
}
.nav__links{
    display: flex;
    list-style: none;
}
.nav__link-en{
    padding-left: 30px;
    color: #bdae82;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.nav__link-slash{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.nav__link-ru{
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.nav__link{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    padding-left: 30px;
    margin-top: 20px;
    color: white;
}
.nav__link:hover{
    transition-duration: 0.5s;
    color: #bdae82;
}
h2{
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #bdae82;
    font-weight: 700;
    font-size: 40px;
}
.section-hero{
	background-image: url("../assets/images/bg.png");
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 910px;
    font-family: 'Inter', sans-serif;
}
.section-hero__wrapper{
    margin-left: 5%;
    margin-right: 60%;
    margin-top: 185px;
    height: 330px;
}
.section-hero__title{
    margin-bottom: 30px;
	font-family: 'Merriweather';
    font-weight: 700;
    font-size: 60px;
}
.section-hero__description{
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 40px;
    font-size: 20px;
}
.section-hero__button{
    background-color: #bdae82;
    margin-top: 10px;
    height: 55px;
    border: none;
    width: 220px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
.section-hero__button:hover{
	color: white;
    transition-duration: 0.5s;
}
.section-skills__items{
    display: flex;
}
.section-skills__item{
    text-align: center;
    width: 320px;
    height: 240px;
    padding: 60px;
}
.section-skills__item-title{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 25px;
}
.section-skills__item-text{
    font-family: 'Inter', sans-serif;
	line-height: 35px;
}